
:root{
    --main-color:#ef798a;
    --secondary-color:#16BAC5;
    --light-color:#ED6A5A;
    --dark-color:#171D1C;
}


*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:var(--dark-color);
    padding: 0;
    margin: 0;
    
}

.main{
    background-color:var(--main-color);
    margin: 10vw;
    height:100vh;
    border-radius: 20px;
    box-shadow: 3px 3px 8px 8px #3337;
    overflow: hidden;
}

/* nav bar and first 2 elements */
.main-nav{
    display:flex;
    justify-content: space-around;
    align-items:left;
    background-color: #bb9b9e;
    margin:10px;
    margin-right:5vw;
    border-radius: 15px;
    width: 75vw;
    
    

}
.nav-bar{
    margin-block-start: 1em;
    margin-block-end: 1em;
    border: 0 solid black;
    box-shadow: 3px ;
}

.{
    margin-top: 50vh;

}
.class-box{
    width: 100vw;
    height: 20vh;
    background-color:green;

}

/* adding content box */
.{
    background-color: #b39ea0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    min-width: 10vw;
    max-width:40vh;

}

.{
    border-radius: 30px;
}

.all-tasks{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5%;
}
.new-list{
    background-color: var(--secondary-color);
    border:solid var(--light-color);
    font-size:1rem;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 2px;
    padding: 1.4rem 2rem 1.6rem;
    
}  