
:root{
    --main-color:#FFA630;
    --secondary-color:#2E5077   ;
    --light-color:#D7E8BA;
    --dark-color:#611C35;
}


::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--dark-color); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--secondary-color); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color); 
  }

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:var(--dark-color);
    padding: 10px;
    margin: 0;
    
}

.main{
    background-color:var(--main-color);
    border-top: var(--secondary-color);
    padding: 3vw;
    height:100%;
    border-radius: 20px;
    box-shadow: 3px 3px 8px 8px #3337;
    overflow:scroll;
}

/* nav bar and first 2 elements */
.title{

}

.all-tasks{
    margin-top: 1vh;

}


/* adding content box */


.all-tasks{
    display:flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
    align-items: center;
    padding:5px;
    border: 1px solid var(--secondary-color);

}
.written-boxes{
    display:flex;
    flex-direction: column;
}
.other-boxes{
    display:flex;
    flex-direction: column;
    align-items: flex-start;

}

.new-list{
    background-color: var(--light-color);
    border:solid var(--dark-color);
    font-size:1rem;
    width: 40%;
    height:5px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 2px;
    padding: 1.4rem 2rem 1.6rem;
    overflow-y: hidden;
    border-radius: 15px;
    
    
}  
.primary{
    width:40%;
    
}
.secondary{
    width:70vw;
    height:30px;
    text-align: left;
    align-items: flex-start;
    
}
.priority{
    cursor: pointer;

}
.btn-create{
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 15px;
    color: var(--light-color);
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    
    

}
.task-list-title{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.table-box-main{
    display: flex;
    
    justify-content: space-between;
    align-items: center;

}
.table-box-main:hover{
    cursor:pointer;

}
.class-box{
    width: 45%;
    height:;
    max-height: 50vh;
    font-size: 1rem;
    background-color:var(--light-color);
    color:var(--dark-color);
    border-radius:20px;
    padding:5px;
    overflow:auto;
    margin-bottom:5px


}
.striked{
    text-decoration: line-through;
}